@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;}

body {
	padding: 20px;
	margin: 0 50px;
	font-family: 'Lato'; san-serif; 
	font-size: 12px; /*1em = 12px*/
	text-align: center;}


nav {
	font-family: 'Lato'; san-serif;
	letter-spacing: .5px;
	font-weight: lighter;
	word-spacing: 1px;}

nav a { }

header {}

main {}	

main p {padding: 10px 0;}

section {}

footer {}

h1 {}


h2 {padding: 20px 0;
	font-family: 'Lato'; san-serif;
	font-weight: lighter;
	font-size: 1.5em;
	text-transform: uppercase;
	word-spacing: 1px;
	color: #58829C;}

h3 {
	font-family: 'Lato'; san-serif;
	font-weight: lighter;
	font-size: 1em;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #8E99A8; 
	padding: 10px 0;
}

p {}

a { color: inherit;
	text-decoration: none;}

img {
	width: 100%;}

.wrapper {
	margin: auto;
}
#logo {
	width: 30%;
	height: 30%;}

#nav_bar { 
	font-size: 1em;
	text-transform: uppercase;
	word-spacing: 5px;}

#hero {
	background:url(images/colour_explosion.jpg) center;
	background-size: cover;}

#hero_content {}

.header_title{
	font-family: 'Lato'; san-serif;
	font-weight: lighter;
	font-size: 3em;}

#gallery_1 {
	width: 50%;
}

#gallery_2 {
	width: 25%;
}

#social {padding-bottom: 20px;
color: pink;}

