* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;}

body {
	padding: 20px;
	font-size: 12px; /*1em = 12px*/
	text-align: center;
	position: relative;
	font-family: Helvetica; sans serif; }

header {}

nav {}

section {}

footer {}

h1 {
	text-align: center;
	margin: 200px 0 0;}


h2 {
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;}


p {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 20px;}

a {
	color: inherit;
	text-decoration: none;}

img {
	width: 100%;}

#logo {
	width: 30%;
	height: 30%;
	padding-top: 60px;}

#nav_bar { 
	position: fixed;
	background-color: #FFF;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px; 
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;}

/*.navlinks {
	float: right;
	padding: 10px;
}*/

#hero {
	background:url(images/colour_explosion.jpg) center;
	background-size: cover;}

#hero_content {
	position: absolute; 
	text-align: center;
	margin: auto;}

#gallery {
	width:60em;
 	margin:1em auto;}

